/* src/components/Navbar.css */
.navbar {
  background-color: rgb(255, 255, 232);
    color: #090909;
    padding: 10px 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  
  }
  
  .navbar-logo {
    font-size: 24px;
  }
  
  .navbar-menu {
    list-style-type: none;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #090909;
    font-weight: bold;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  