body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
  }
  
  .login-buttons-container {
    min-width: 500px; /* Minimum width to maintain */
    width: auto; /* Allow content to expand within the minimum width */
    display: flex;
    flex-direction: column;
    background-color: rgba(164, 222, 255, 0.06);
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(1, 130, 236, 0.37);
    padding: 28px;
    position: relative;
    z-index: 3;
    text-align: center;
    
  }
  
  .admin-button,
  .employee-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px; /* Smaller font size */
  }
  
  .admin-button:hover,
  .employee-button:hover {
    background-color: #0056b3;
  }
  