/* src/pages/ALogin.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Make the container take up the full viewport height */
}
form {
  height: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color:whitesmoke;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgba(1, 130, 236, 0.37);
  padding: 28px;
  position: relative;
  z-index: 3; /* Ensure the form is above the background image */
}
.form-group {
  margin-bottom: 20px; /* Add some vertical spacing between form elements */
}

input {
  width: 100%;
  margin: 23px 0;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid black;
}


button {
  padding: 5px 15px;
  background-color: rgb(106, 183, 238);
  border: none;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 0;
  display: flex;
  position: relative;
  margin-left: 42%;
  
}

button:hover {
  background-color: rgb(169, 202, 226);
}
@media (max-width: 767px) {
  form {
    width: 90%;
  }

  input {
    margin: 5px 0;
  }
}

h3 {
  text-align: center;
}


.error-message {
  color: red;
  margin-top: 10px;
}

