@import url(https://wallpapercave.com/wp/wp2366394.jpg);

/* Header Styles */
header .header {
  background-color: transparent;
  height: 45px;
}

header a img {
  width: 134px;
  margin-top: 4px;
}

/* Login Page Styles */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-page .form .login {
  margin-top: -31px;
  margin-bottom: 26px;
}

/* Form Styles */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Background Image Styles */
.login-body {
  background-image: url(https://wallpapercave.com/wp/wp2366394.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  image-rendering: pixelated;
}

/* Input Styles */
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Button Styles */
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #131313;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.monish
{
    font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #131313;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
 margin-top: 10%;
}

/* Message Styles */
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  position: absolute;
  top: 84%;
}

.form .message a {
  color: #010101;
  text-decoration: none;
  top: 49%;
}

/* Container Styles */
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
