.Pchart-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -45px;
    margin-left: 15%;
  }
  .Bchart-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
    margin-left: 1%;
  }
  
  .bar-chart {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: -24%;
    display: flex;
    justify-content: space-between;
    margin-left: 19%;
  }
  
  .pie-chart {
      display: flex;
      flex-direction: column;
      margin-left: -40%; /* Adjust this value as needed to move the pie chart to the left */
      display: flex;
      justify-content: space-between;
      margin-top: -27%;
      margin-left:75%;
  }
  